/* common Style section */
* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-family: "Merriweather", serif;
}
/* .default {
  margin-top: 120px;
  max-width: 1320px;
} */

/* Header Banner style section */

.banner-header {
  height: 600px;
  width: 1320px;
  margin: 50px auto;
  position: relative;
}
.banner-new-year-section {
  width: 100%;
  height: 100%;
  border-radius: 16px;
}
.banner-header .banner-new-year-text {
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.banner-new-year-text p {
  color: #e0b2b2;
  text-align: center;
  font-family: Merriweather;
  font-size: 32px;
  font-weight: 400;
}
.banner-new-year-text h2 {
  width: 632px;
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
  line-height: 95px; /* 131.944% */
}

/* Offer styles Section */

.content-gap {
  margin-top: 120px;
}
.offer-content {
  text-align: center;
}
.offer-content h1 {
  color: #f00;
  font-size: 80px;
  font-weight: 700;
  padding-bottom: 48px;
  font-family: "Inter", sans-serif;
}
.offer-content p {
  color: #f00;
  font-size: 24px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
}
.offer-content h3 {
  color: #070211;
  font-size: 48px;
  font-weight: 700;
  padding: 20px 48px;
  font-family: "Inter", sans-serif;
}

/* Mid Night Party Style Section */
.party-container {
  width: 1320px;
  height: 600px;
  background-image: url(/images/Vectorrr.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 16px;
  position: relative;
  margin: 120px auto;
}
.newyear-party {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%);
  border-radius: 16px;
}
.party-content {
  width: 600px;
  position: absolute;
  top: 130px;
  left: 100px;
  color: #ffffff;
  padding: 20px 20px 140px 80px;
}
.party-img {
  width: 600px;
  position: absolute;
  top: 50px;
  left: 780px;
}
.party-content h2 {
  color: #fff;
  font-size: 64px;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 7.04px;
  font-family: "Merriweather", serif;
}
.party-content p {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  padding-top: 24px 0 0 25px;
  line-height: 30px;
}
.party-content .join-btn {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  background: transparent;
  border: none;
  margin-top: 20px;
}
